@page
@model connect_four__server.Pages.Games.IndexModel

<h1>All Games</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].PlayerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Duration)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Moves)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PlayerID)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moves)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
